{% extends 'base.html' %}

{% load static %}

{% block bory %}

<h3>Carrinho</h3>
<h4>Número do Pedido: {{ pedido.id }}</h4>
<P>Preço Total Pedido: R${{ pedido.preco_total }}</P>
<P>Total  Produtos: {{ pedido.quantidade_total }}</P>

{% for item in itens_pedido %}
<p>
    <img src="{{ item.item_estoque.produto.imagem.url }}" width="50" height="70">
    Produto: {{ item.item_estoque.produto.nome }}; Cor: {{ item.item_estoque.cor.nome }}; Tamanho: {{ item.item_estoque.tamanho }}; Quantidade: {{ item.quantidade }}; Preço Unitário: R${{ item.item_estoque.produto.preco }}; Total: R${{ item.preco_total }}
</p>
{% endfor %}

<a href="{% url 'checkout' %}">Checkout</a>

{% endblock %}
