{% extends 'base.html' %}

{% load static %}

{% block bory %}

<h3>Checkout</h3>
<a href="{% url 'carrinho' %}">Voltar para Carrinho</a>

<h4>Número do Pedido: {{ pedido.id }}</h4>
<P>Preço Total Pedido: R${{ pedido.preco_total }}</P>
<P>Total  Produtos: {{ pedido.quantidade_total }}</P>

<form method="POST" action="">
   {% csrf_token %}
   <h3>Selecione o endereço de entrega</h3>
   <a href="{% url 'adicionar_endereco' %}">Adicionar endereço de entrega</a>
   <br>
   {% for endereco in enderecos %}
   <input type="radio" name="endereco" value="{{ endereco.id }}">
   <label for="{{ endereco.id }}">{{ endereco.cidade }}-{{ endereco.estado }},
       {{ endereco.rua }},
       {{ endereco.numero }},
       {{ endereco.complemento }} - {{ endereco.cep}}</label>
   <br>
   {% endfor %}
   {% if not request.user.is_authenticated %}
   <hr>

   <h4>Preencha seu email para finalizar o pedido</h4>
   <input type="email" name="email" placeholder="email">
   {% endif %}
   <hr>
   <input type="hidden"  value="{{ pedido.preco_total }}" name="total">
   <button type="submit">Finalizar Pedido - R${{ pedido.preco_total }}</button>

</form>


{% endblock %}
