{% load static %}
<nav>
  <a href="{% url 'homepage' %}">Reserva</a>
  <a href="{% url 'loja' %}">Loja</a>
  <a href="{% url 'login' %}">Login</a>
  <a href="{% url 'minha_conta' %}">Minha Conta</a>
  <a href="{% url 'carrinho' %}">Carrinho</a>
  <img src="{% static 'images/carrinho.png' %}" width=30 height="30">
  {{ quantidade_produtos_carrinho }}

  <div style="display: flex;">
    {% for categoria in categorias %}
    <div>
        <a href="{% url 'loja' %}{{ categoria.slug }}">{{ categoria.nome }}:</a>
        <br>
        {% for tipo in tipos %}
            <a href="{% url 'loja' %}{{ categoria.slug }}-{{ tipo.slug }}">{{ tipo.nome }}</a>
        {% endfor %}
    </div>
    {% endfor %}
  </div>
</nav>
